<div class="container">
    <form (ngSubmit)="changePassword(f)" #f="ngForm">
        <h3 for="email">Your Email: {{ loginService.user.email }}</h3>
        <div class="group">
            <label for="oldPassword">Old Password</label>
            <input type="text" name="oldPassword" id="oldPassword" ngModel required>
        </div>
        <div class="group">
            <label for="newPassword">New Password</label>
            <input type="text" name="newPassword" id="newPassword" ngModel required>
        </div>
        <button type="submit">Change Password</button>
    </form>
</div>
