<p>team-admin works!</p>
<div class="container">
    <div class="subcontainer">
        <form (ngSubmit)="createTeam(c)" #c="ngForm">
            <div class="group">
                <label for="name">New Team Name</label>
                <input 
                    type="text"
                    id="name"
                    name="name"
                    ngModel
                    required
                >
            </div>
            <button type="submit">Create Team</button>
        </form>
    </div>
    <div class="subcontainer">
        <form (ngSubmit)="assignUser(a)" #a="ngForm">
            <div class="group">
                <select name="userId" id="userId" ngModel required>
                    <option *ngFor="let user of users" [value]="user._id">{{ user.name }}</option>
                </select>
                <div class="text">
                    <p>assign to</p>
                </div>
                <select name="teamId" id="teamId" ngModel required>
                    <option *ngFor="let team of teams" [value]="team._id">{{ team.name }}</option>
                </select>
            </div>
            <button type="submit">Assign User</button>
        </form>
    </div>
    <div class="subcontainer">
        <form (ngSubmit)="confirmDeleteTeam(d)" #d="ngForm">
            <select name="teamId" id="teamId" ngModel required>
                <option *ngFor="let team of teams" [value]="team._id">{{ team.name }}</option>
            </select>
            <button type="submit">Delete Team</button>
        </form>
    </div>
</div>
