<div class="container">
    <div class="subcontainer vertical-flex">
        <h3>Create User</h3>
        <form (ngSubmit)="createUser(c)" #c="ngForm">
            <div class="group">
                <label for="name">Name</label>
                <input 
                    type="text"
                    id="name"
                    name="name"
                    ngModel
                    required
                >
            </div>
            <div class="group">
                <label for="email">Email</label>
                <input 
                    type="email"
                    id="email"
                    name="email"
                    ngModel
                    required
                >
            </div>
            <div class="group">
                <label for="password">Initial Password</label>
                <input 
                    type="text"
                    id="password"
                    name="password"
                    ngModel
                    required
                >
            </div>
            <div class="group">
                <label for="role">Role</label>
                <select name="role" id="role" ngModel required value="Admin">
                    <option value="Admin">Admin</option>
                    <option value="Manager">Manager</option>
                    <option value="Peer Reviewer">Peer Reviewer</option>
                    <option value="Member">Member</option>
                </select>
            </div>
            <div class="group">
                <label for="teamId">teamId</label>
                <select name="teamId" id="teamId" ngModel required>
                    <option [value]="team._id" *ngFor="let team of teams">{{ team.name }}</option>
                </select>
            </div>
            <button type="submit" [disabled]="!c.valid">Create User</button>
        </form>
    </div>
    <div class="subcontainer vertical-flex update-user center">
        <h3>Update User</h3>
        <div *ngFor="let user of users" class="center">
            <button (click)="selectUser(user._id)">{{ user.name }}</button>
            <app-user-update [user]="user" *ngIf="selectedId === user._id" (userUpdated)="refreshData()"></app-user-update>
        </div>
    </div>
    <div class="subcontainer vertical-flex">
        <h3>Delete User</h3>
        <form (ngSubmit)="deleteUser(d)" #d="ngForm">
            <select name="email" id="email" ngModel required>
                <option *ngFor="let user of users" [value]="user.email">{{ user.name }}, {{ user.email }}</option>
            </select>
            <button type="submit" [disabled]="!d.valid">Delete User</button>
        </form>
    </div>
</div>
