<div class="container">
    <h1>Login</h1>
    <form (ngSubmit)="login(f)" #f="ngForm" class="form-align">
        <div class="group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" ngModel required>
        </div>
        <div class="group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" ngModel required>
        </div>
        <button type="submit">Login</button>
    </form>
</div>